$black: #000814;
$bluenavy: #0E1520;
$green: #CDE007;
$yellow: #F5C518;
$gray: #CED4DA;

// Breadcrumbs
$breadcrumb-item-padding-x: .8rem;
$breadcrumb-divider-color: $gray;
$breadcrumb-active-color: $green;